--
-- PostgreSQL database dump
--

\restrict tqDgAaQ97QNeiLSxt8BoLBnytdoC4L5MDsFEKu11IvElc4NcSLSLe3lccHaG7fm

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: article; Type: TYPE; Schema: public; Owner: genau_user
--

CREATE TYPE public.article AS ENUM (
    'DER',
    'DIE',
    'DAS',
    'NONE'
);


ALTER TYPE public.article OWNER TO genau_user;

--
-- Name: cefrlevel; Type: TYPE; Schema: public; Owner: genau_user
--

CREATE TYPE public.cefrlevel AS ENUM (
    'A0',
    'A1',
    'A2',
    'B1',
    'B2',
    'C1',
    'C2'
);


ALTER TYPE public.cefrlevel OWNER TO genau_user;

--
-- Name: partofspeech; Type: TYPE; Schema: public; Owner: genau_user
--

CREATE TYPE public.partofspeech AS ENUM (
    'NOUN',
    'VERB',
    'ADJECTIVE',
    'ADVERB',
    'OTHER'
);


ALTER TYPE public.partofspeech OWNER TO genau_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: genau_user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO genau_user;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: genau_user
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    slug character varying(100) NOT NULL,
    title_ru character varying(255) NOT NULL,
    title_de character varying(255),
    type character varying(20) DEFAULT 'TOPIC'::character varying NOT NULL,
    emoji character varying(10)
);


ALTER TABLE public.categories OWNER TO genau_user;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: genau_user
--

CREATE SEQUENCE public.categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categories_id_seq OWNER TO genau_user;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: genau_user
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: master_words; Type: TABLE; Schema: public; Owner: genau_user
--

CREATE TABLE public.master_words (
    id integer NOT NULL,
    lemma character varying(255) NOT NULL,
    article public.article,
    pos public.partofspeech NOT NULL,
    cefr public.cefrlevel NOT NULL,
    translation_ru character varying(500) NOT NULL,
    example_de text,
    example_ru text,
    plural character varying(255),
    separable_prefix character varying(100),
    translation_uk character varying(500),
    example_uk text
);


ALTER TABLE public.master_words OWNER TO genau_user;

--
-- Name: master_words_id_seq; Type: SEQUENCE; Schema: public; Owner: genau_user
--

CREATE SEQUENCE public.master_words_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.master_words_id_seq OWNER TO genau_user;

--
-- Name: master_words_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: genau_user
--

ALTER SEQUENCE public.master_words_id_seq OWNED BY public.master_words.id;


--
-- Name: session_items; Type: TABLE; Schema: public; Owner: genau_user
--

CREATE TABLE public.session_items (
    id integer NOT NULL,
    session_id integer NOT NULL,
    word_id integer NOT NULL,
    is_correct boolean NOT NULL,
    answered_at timestamp without time zone NOT NULL
);


ALTER TABLE public.session_items OWNER TO genau_user;

--
-- Name: session_items_id_seq; Type: SEQUENCE; Schema: public; Owner: genau_user
--

CREATE SEQUENCE public.session_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.session_items_id_seq OWNER TO genau_user;

--
-- Name: session_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: genau_user
--

ALTER SEQUENCE public.session_items_id_seq OWNED BY public.session_items.id;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: genau_user
--

CREATE TABLE public.sessions (
    id integer NOT NULL,
    user_id bigint NOT NULL,
    level public.cefrlevel NOT NULL,
    total_questions integer NOT NULL,
    correct_answers integer NOT NULL,
    created_at timestamp without time zone NOT NULL,
    completed_at timestamp without time zone
);


ALTER TABLE public.sessions OWNER TO genau_user;

--
-- Name: sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: genau_user
--

CREATE SEQUENCE public.sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sessions_id_seq OWNER TO genau_user;

--
-- Name: sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: genau_user
--

ALTER SEQUENCE public.sessions_id_seq OWNED BY public.sessions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: genau_user
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    username character varying(255),
    first_name character varying(255),
    selected_level public.cefrlevel,
    created_at timestamp without time zone NOT NULL,
    translation_mode character varying(10) NOT NULL,
    interface_language character varying(2) DEFAULT 'uk'::character varying NOT NULL
);


ALTER TABLE public.users OWNER TO genau_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: genau_user
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO genau_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: genau_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: word_categories; Type: TABLE; Schema: public; Owner: genau_user
--

CREATE TABLE public.word_categories (
    id integer NOT NULL,
    word_id integer NOT NULL,
    category_id integer NOT NULL,
    weight integer NOT NULL
);


ALTER TABLE public.word_categories OWNER TO genau_user;

--
-- Name: word_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: genau_user
--

CREATE SEQUENCE public.word_categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.word_categories_id_seq OWNER TO genau_user;

--
-- Name: word_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: genau_user
--

ALTER SEQUENCE public.word_categories_id_seq OWNED BY public.word_categories.id;


--
-- Name: word_user_progress; Type: TABLE; Schema: public; Owner: genau_user
--

CREATE TABLE public.word_user_progress (
    id integer NOT NULL,
    user_id bigint NOT NULL,
    word_id integer NOT NULL,
    times_seen integer DEFAULT 0 NOT NULL,
    times_correct integer DEFAULT 0 NOT NULL,
    times_incorrect integer DEFAULT 0 NOT NULL,
    last_seen_at timestamp without time zone,
    last_answer_correct boolean,
    mastery_level character varying(20) DEFAULT 'NEW'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.word_user_progress OWNER TO genau_user;

--
-- Name: word_user_progress_id_seq; Type: SEQUENCE; Schema: public; Owner: genau_user
--

CREATE SEQUENCE public.word_user_progress_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.word_user_progress_id_seq OWNER TO genau_user;

--
-- Name: word_user_progress_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: genau_user
--

ALTER SEQUENCE public.word_user_progress_id_seq OWNED BY public.word_user_progress.id;


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: master_words id; Type: DEFAULT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.master_words ALTER COLUMN id SET DEFAULT nextval('public.master_words_id_seq'::regclass);


--
-- Name: session_items id; Type: DEFAULT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.session_items ALTER COLUMN id SET DEFAULT nextval('public.session_items_id_seq'::regclass);


--
-- Name: sessions id; Type: DEFAULT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.sessions ALTER COLUMN id SET DEFAULT nextval('public.sessions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: word_categories id; Type: DEFAULT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.word_categories ALTER COLUMN id SET DEFAULT nextval('public.word_categories_id_seq'::regclass);


--
-- Name: word_user_progress id; Type: DEFAULT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.word_user_progress ALTER COLUMN id SET DEFAULT nextval('public.word_user_progress_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: genau_user
--

COPY public.alembic_version (version_num) FROM stdin;
318fccb2c3a1
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: genau_user
--



--
-- Data for Name: master_words; Type: TABLE DATA; Schema: public; Owner: genau_user
--



--
-- Data for Name: session_items; Type: TABLE DATA; Schema: public; Owner: genau_user
--



--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: genau_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: genau_user
--

COPY public.users (id, username, first_name, selected_level, created_at, translation_mode, interface_language) FROM stdin;
463491762	Kanaki_K	K.	A1	2025-10-27 20:51:15.661482	DE-RU	uk
5059940105	AK_ua_de	Anastasiia	A1	2025-10-30 18:49:04.909595	DE-RU	uk
7568827226	Amanbabai228	Aman	A1	2025-10-27 20:34:33.469709	DE-RU	uk
\.


--
-- Data for Name: word_categories; Type: TABLE DATA; Schema: public; Owner: genau_user
--



--
-- Data for Name: word_user_progress; Type: TABLE DATA; Schema: public; Owner: genau_user
--

COPY public.word_user_progress (id, user_id, word_id, times_seen, times_correct, times_incorrect, last_seen_at, last_answer_correct, mastery_level, created_at, updated_at) FROM stdin;
\.


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: genau_user
--

SELECT pg_catalog.setval('public.categories_id_seq', 24, true);


--
-- Name: master_words_id_seq; Type: SEQUENCE SET; Schema: public; Owner: genau_user
--

SELECT pg_catalog.setval('public.master_words_id_seq', 1372, true);


--
-- Name: session_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: genau_user
--

SELECT pg_catalog.setval('public.session_items_id_seq', 505, true);


--
-- Name: sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: genau_user
--

SELECT pg_catalog.setval('public.sessions_id_seq', 89, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: genau_user
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: word_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: genau_user
--

SELECT pg_catalog.setval('public.word_categories_id_seq', 1100, true);


--
-- Name: word_user_progress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: genau_user
--

SELECT pg_catalog.setval('public.word_user_progress_id_seq', 1, false);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: categories categories_slug_key; Type: CONSTRAINT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_slug_key UNIQUE (slug);


--
-- Name: master_words master_words_pkey; Type: CONSTRAINT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.master_words
    ADD CONSTRAINT master_words_pkey PRIMARY KEY (id);


--
-- Name: session_items session_items_pkey; Type: CONSTRAINT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.session_items
    ADD CONSTRAINT session_items_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: word_user_progress uq_word_user_progress; Type: CONSTRAINT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.word_user_progress
    ADD CONSTRAINT uq_word_user_progress UNIQUE (user_id, word_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: word_categories word_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.word_categories
    ADD CONSTRAINT word_categories_pkey PRIMARY KEY (id);


--
-- Name: word_user_progress word_user_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.word_user_progress
    ADD CONSTRAINT word_user_progress_pkey PRIMARY KEY (id);


--
-- Name: idx_word_user_progress_user; Type: INDEX; Schema: public; Owner: genau_user
--

CREATE INDEX idx_word_user_progress_user ON public.word_user_progress USING btree (user_id);


--
-- Name: idx_word_user_progress_word; Type: INDEX; Schema: public; Owner: genau_user
--

CREATE INDEX idx_word_user_progress_word ON public.word_user_progress USING btree (word_id);


--
-- Name: session_items session_items_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.session_items
    ADD CONSTRAINT session_items_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.sessions(id);


--
-- Name: session_items session_items_word_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.session_items
    ADD CONSTRAINT session_items_word_id_fkey FOREIGN KEY (word_id) REFERENCES public.master_words(id);


--
-- Name: sessions sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: word_categories word_categories_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.word_categories
    ADD CONSTRAINT word_categories_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: word_categories word_categories_word_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.word_categories
    ADD CONSTRAINT word_categories_word_id_fkey FOREIGN KEY (word_id) REFERENCES public.master_words(id);


--
-- Name: word_user_progress word_user_progress_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.word_user_progress
    ADD CONSTRAINT word_user_progress_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: word_user_progress word_user_progress_word_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: genau_user
--

ALTER TABLE ONLY public.word_user_progress
    ADD CONSTRAINT word_user_progress_word_id_fkey FOREIGN KEY (word_id) REFERENCES public.master_words(id);


--
-- PostgreSQL database dump complete
--

\unrestrict tqDgAaQ97QNeiLSxt8BoLBnytdoC4L5MDsFEKu11IvElc4NcSLSLe3lccHaG7fm

